* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header .navbar-pc {
  position: fixed;
  z-index: 20;
  width: 100%; }
  .header .navbar-pc .navbar {
    width: 100%;
    padding: 0; }
    .header .navbar-pc .navbar .navbar-brand {
      padding: 0 25px; }
      @media screen {
        .header .navbar-pc .navbar .navbar-brand {
          max-width: 1200px;
          padding-right: 10px; } }
      .header .navbar-pc .navbar .navbar-brand .brand-logo {
        background: transparent;
        background-image: url(../img/bsr-sprite2x.png);
        background-position: -200px 0;
        width: 93px;
        height: 35px;
        background-size: 400px 200px;
        display: inline-block;
        margin: 6px 0 0 0; }
      .header .navbar-pc .navbar .navbar-brand .brand-text {
        font-size: 16px;
        color: #425968;
        font-weight: 500;
        text-align: center; }
  .header .navbar-pc .collapse .navbar-nav {
    padding-right: 20px; }
    .header .navbar-pc .collapse .navbar-nav .nav-item .nav-link {
      color: #0276b3;
      font-size: 18px;
      padding: 0 25px;
      font-weight: 450; }
      .header .navbar-pc .collapse .navbar-nav .nav-item .nav-link i {
        font-size: 22px;
        margin: 0 10px; }
      @media screen and (max-width: 1200px) {
        .header .navbar-pc .collapse .navbar-nav .nav-item .nav-link span {
          visibility: hidden;
          display: none; }
        .header .navbar-pc .collapse .navbar-nav .nav-item .nav-link i {
          margin: 0px 0px;
          padding: 0px 0px; } }
    @media screen and (max-width: 1200px) {
      .header .navbar-pc .collapse .navbar-nav .nav-item2 {
        width: 45px; }
        .header .navbar-pc .collapse .navbar-nav .nav-item2 .nav-link span {
          visibility: hidden;
          display: none; }
        .header .navbar-pc .collapse .navbar-nav .nav-item2 .nav-link i {
          margin: 0px 0px;
          padding: 0px 0px; } }
    .header .navbar-pc .collapse .navbar-nav .nav-item1 i {
      display: none; }
    .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu {
      position: absolute;
      width: 100%;
      top: 69px;
      left: 0;
      padding: 0;
      border: none; }
      .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu::before {
        position: absolute;
        display: block;
        content: "";
        top: 0px;
        right: 0px;
        left: 0px;
        height: 5px;
        z-index: 3;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 2px inset; }
      .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav {
        display: flex;
        margin: 0 auto;
        width: 100%;
        justify-content: center;
        border-bottom: none;
        background-color: #FAFAFA; }
        .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav .nav-item {
          position: relative;
          margin: 0; }
          .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav .nav-itemfocus {
            boder: none; }
          @media screen and (max-width: 992px) {
            .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav .nav-item {
              display: flex;
              justify-content: center;
              align-items: center; } }
          .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav .nav-item a {
            margin: 0;
            padding: 20px 20px;
            font-size: 15px; }
            .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav .nav-item a::before {
              content: "";
              width: 108%;
              height: 100%;
              position: absolute;
              top: 0;
              left: -4%; }
            .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav .nav-item a.active::before {
              border-left: 1px solid #0276b3;
              border-right: 1px solid #0276b3; }
            .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav .nav-item a::after {
              content: "";
              width: 0%;
              height: 4px;
              bottom: 0;
              left: 0;
              position: absolute;
              background: #0276b3;
              transition: all 0.5s; }
            .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav .nav-item a.active::after {
              width: 100%;
              background: #102b4e; }
            .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav .nav-item a:hover::after {
              width: 100%; }
            .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav .nav-item a.active {
              border: none;
              color: #102b4e;
              background-color: #FAFAFA; }
            .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav .nav-item a:hover {
              border: none; }
            @media screen and (max-width: 992px) {
              .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav .nav-item a {
                text-align: center;
                width: 95%;
                margin: 0;
                padding: 20px 5px; } }
      .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .tab-content .tab-pane .vehicle .vehicle-list .vehicle-list__item {
        list-style-type: none;
        width: 180px;
        height: 245px; }
        .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .tab-content .tab-pane .vehicle .vehicle-list .vehicle-list__item a {
          padding: 25px 20px;
          text-decoration: none;
          color: #0276b3;
          text-align: center; }
          .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .tab-content .tab-pane .vehicle .vehicle-list .vehicle-list__item a:hover .year span {
            text-decoration: none; }
          .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .tab-content .tab-pane .vehicle .vehicle-list .vehicle-list__item a .image img {
            width: 140px;
            height: 65px; }
          .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .tab-content .tab-pane .vehicle .vehicle-list .vehicle-list__item a .price span {
            color: black;
            font-size: 15px; }
      .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .vehicleCTA {
        display: flex;
        justify-content: center;
        position: relative; }
        .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .vehicleCTA::before {
          content: "";
          position: absolute;
          top: 0;
          left: 2.5%;
          width: 95%;
          height: 1px;
          background: rgba(0, 0, 0, 0.3); }
        .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .vehicleCTA .vehicle-announce {
          display: flex;
          justify-content: center;
          width: 280px;
          height: 72px;
          border: 1px solid #0276b3;
          margin: 10px 5px; }
          .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .vehicleCTA .vehicle-announce:hover {
            border: 1px solid black; }
          .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .vehicleCTA .vehicle-announce:hover a {
            color: #102b4e; }
          .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .vehicleCTA .vehicle-announce a {
            text-align: center;
            font-size: 18px;
            width: 280px;
            height: 72px;
            padding: 20px;
            text-decoration: none;
            color: #0276b3; }
      .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav__content {
        display: flex;
        justify-content: flex-start;
        padding: 30px 0;
        width: 100%;
        overflow-y: auto;
        max-height: 70vh;
        position: relative; }
        .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav__content .nav__item2 {
          display: flex; }
          @media screen and (max-width: 992px) {
            .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav__content .nav__item2 {
              display: block; } }
          .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav__content .nav__item2 .nav__item {
            padding-left: 20px;
            padding-right: 10px; }
            .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav__content .nav__item2 .nav__item p {
              color: #555;
              font-size: 25px;
              margin: 0;
              padding: 20px 0;
              padding-right: 20%;
              white-space: nowrap;
              position: relative; }
              .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav__content .nav__item2 .nav__item p::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background: #a7a7a7;
                bottom: 0;
                left: 0; }
            .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav__content .nav__item2 .nav__item ul li {
              list-style-type: none;
              padding: 10px 0; }
              .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav__content .nav__item2 .nav__item ul li a {
                text-decoration: none; }
        .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav__content .nav__item {
          padding-left: 20px;
          padding-right: 10px; }
          .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav__content .nav__item p {
            color: #555;
            font-size: 25px;
            margin: 0;
            padding: 20px 0;
            padding-right: 20%;
            white-space: nowrap;
            position: relative; }
            .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav__content .nav__item p::before {
              position: absolute;
              content: "";
              width: 100%;
              height: 1px;
              background: #a7a7a7;
              bottom: 0;
              left: 0; }
          .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav__content .nav__item ul li {
            list-style-type: none;
            padding: 10px 0; }
            .header .navbar-pc .collapse .navbar-nav .nav-item1 .dropdown-menu .nav__content .nav__item ul li a {
              text-decoration: none; }
  .header .navbar-pc .collapse-left .navbar-nav__search {
    display: none; }
  .header .navbar-pc .collapse-left .navbar-nav__footer {
    display: none; }
  .header .navbar-pc .collapse-left .navbar-nav .nav-item3 {
    display: none; }
  @media screen and (max-width: 768px) {
    .header .navbar-pc .collapse-left {
      background-color: #FAFAFA; }
      .header .navbar-pc .collapse-left .navbar-nav__search {
        display: block;
        border: none;
        width: 100%;
        background-color: #0276b3;
        color: white;
        padding: 10px 0;
        margin: 0 0; }
        .header .navbar-pc .collapse-left .navbar-nav__search input {
          border: none;
          background-color: #0276b3;
          height: 25px;
          width: 80%;
          font-size: 30px;
          padding-left: 20px; }
          .header .navbar-pc .collapse-left .navbar-nav__search input::placeholder {
            color: white;
            opacity: 1;
            font-weight: 200; }
          .header .navbar-pc .collapse-left .navbar-nav__search input:focus {
            outline: none; }
        .header .navbar-pc .collapse-left .navbar-nav__search span {
          color: white;
          display: inline-block;
          text-align: right;
          border: none;
          width: 15%;
          font-size: 30px; }
      .header .navbar-pc .collapse-left .navbar-nav {
        padding-right: 0; }
        .header .navbar-pc .collapse-left .navbar-nav .nav-item {
          display: block;
          margin: 10px 0; }
          .header .navbar-pc .collapse-left .navbar-nav .nav-item .nav-item__wrap {
            position: relative; }
            .header .navbar-pc .collapse-left .navbar-nav .nav-item .nav-item__wrap::before {
              position: absolute;
              content: "";
              width: 100%;
              height: 1px;
              background: rgba(0, 0, 0, 0.12);
              bottom: -10px;
              left: 0; }
            .header .navbar-pc .collapse-left .navbar-nav .nav-item .nav-item__wrap i {
              display: inline-block;
              width: 10%;
              height: auto;
              line-height: 50px;
              text-align: center;
              color: #0276b3;
              font-size: 20px;
              cursor: pointer; }
            .header .navbar-pc .collapse-left .navbar-nav .nav-item .nav-item__wrap .nav-link {
              display: inline-block;
              width: 70%; }
            .header .navbar-pc .collapse-left .navbar-nav .nav-item .nav-item__wrap i:nth-child(3) {
              display: inline-block;
              width: 10%;
              text-align: right; }
      .header .navbar-pc .collapse-left .navbar-nav__footer {
        display: block; }
        .header .navbar-pc .collapse-left .navbar-nav__footer .navbar-nav__button {
          text-align: center;
          padding: 20px 0;
          margin: 0 auto; } }
  .header .navbar-pc .collapse-right .navbar__2 {
    display: none; }
  @media screen and (max-width: 768px) {
    .header .navbar-pc .collapse-right .navbar__2 {
      display: block; }
    .header .navbar-pc .collapse-right .navbar-nav {
      display: none; } }

.header__fake {
  background: white;
  width: 100%;
  height: 72px; }

.cd-top {
  background-image: url(../img/to-top.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  visibility: hidden; }

.cd-top.cd-top--is-visible {
  opacity: 1;
  visibility: visible; }

.carousel .carousel__content {
  position: relative; }
  .carousel .carousel__content .carousel__item a {
    position: absolute;
    top: 0px;
    left: 30px;
    width: 100%;
    height: 100%;
    padding: 30px; }
    .carousel .carousel__content .carousel__item a:hover {
      text-decoration: none; }
    .carousel .carousel__content .carousel__item a:hover button {
      background-color: #fff;
      color: #0276b3;
      text-decoration: none; }
    .carousel .carousel__content .carousel__item a:hover .svg-1 {
      display: none; }
    .carousel .carousel__content .carousel__item a:hover .svg-2 {
      display: inline-block; }
    .carousel .carousel__content .carousel__item a h2 {
      color: white;
      font-size: 45px;
      margin-bottom: 30px;
      font-weight: 300; }
    .carousel .carousel__content .carousel__item a span {
      color: white; }
    .carousel .carousel__content .carousel__item a p {
      color: white; }
    .carousel .carousel__content .carousel__item a button:hover {
      border: 1px solid #fff; }
    .carousel .carousel__content .carousel__item a .svg-1 {
      width: 30px;
      height: 30px; }
      .carousel .carousel__content .carousel__item a .svg-1 .cls-1 {
        stroke: white;
        fill: none; }
    .carousel .carousel__content .carousel__item a .svg-2 {
      display: none;
      width: 30px;
      height: 30px; }
      .carousel .carousel__content .carousel__item a .svg-2 .cls-1 {
        stroke: white;
        fill: white; }
  .carousel .carousel__content .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: 1px solid #333;
    background-color: #333; }
    .carousel .carousel__content .owl-nav .owl-prev:hover {
      border: 1px solid #0276b3;
      background-color: #fff; }
    .carousel .carousel__content .owl-nav .owl-prev:hover p {
      color: #0276b3; }
    .carousel .carousel__content .owl-nav .owl-prev:focus {
      border: 1px solid #0276b3;
      background-color: #fff; }
    .carousel .carousel__content .owl-nav .owl-prev:focus p {
      color: #0276b3; }
    .carousel .carousel__content .owl-nav .owl-prev p {
      width: 62px;
      height: 53px;
      color: white; }
  .carousel .carousel__content .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: 1px solid #333;
    background-color: #333; }
    .carousel .carousel__content .owl-nav .owl-next:hover {
      border: 1px solid #0276b3;
      background-color: #fff; }
    .carousel .carousel__content .owl-nav .owl-next:hover p {
      color: #0276b3; }
    .carousel .carousel__content .owl-nav .owl-next:focus {
      border: 1px solid #0276b3;
      background-color: #fff; }
    .carousel .carousel__content .owl-nav .owl-next:focus p {
      color: #0276b3; }
    .carousel .carousel__content .owl-nav .owl-next p {
      width: 62px;
      height: 53px;
      color: white; }
  .carousel .carousel__content .owl-dots {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%); }
    .carousel .carousel__content .owl-dots .owl-dot:focus {
      outline: none; }
    .carousel .carousel__content .owl-dots .owl-dot:hover span {
      transform: scale(1.5, 1.5); }
    .carousel .carousel__content .owl-dots .owl-dot.active span {
      border: 1px solid white;
      background-color: black;
      transform: scale(1.5, 1.5); }
    .carousel .carousel__content .owl-dots .owl-dot span {
      background-color: white;
      transition: all 0.5s; }

.offer .offer__content {
  width: 70%;
  justify-content: center;
  text-align: center; }
  .offer .offer__content h2 {
    font-size: 50px;
    margin: 0;
    font-weight: 300; }
  .offer .offer__content img {
    max-width: 330px; }
  .offer .offer__content p {
    color: #0276b3;
    font-size: 30px;
    margin: 0; }
    .offer .offer__content p span {
      font-weight: 500; }
  .offer .offer__content span {
    padding: 5px; }
  .offer .offer__content button {
    margin: 5px; }

.billboard .billboard__content {
  position: relative;
  padding: 30px 0;
  justify-content: center;
  text-align: center;
  cursor: pointer; }
  .billboard .billboard__content:hover button {
    background-color: #fff;
    color: #0276b3;
    text-decoration: none;
    border: 1px solid #0276b3; }
  .billboard .billboard__content .billboard__words {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 100%; }
    .billboard .billboard__content .billboard__words h2 {
      color: #616161;
      margin: 10px 0;
      font-size: 50px; }
    .billboard .billboard__content .billboard__words p {
      margin: 10px 0;
      width: 100%;
      color: #616161;
      font-size: 25px; }
    .billboard .billboard__content .billboard__words button {
      margin: 10px 0; }
  .billboard .billboard__content .billboard__image img {
    width: 100%; }

.sweetdeal {
  display: block; }
  .sweetdeal .sweetdeal__content {
    position: relative; }
    .sweetdeal .sweetdeal__content img {
      width: 100%;
      z-index: 3; }
    .sweetdeal .sweetdeal__content img:nth-child(2) {
      display: none; }
    .sweetdeal .sweetdeal__content a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
      .sweetdeal .sweetdeal__content a h2 {
        color: #fff;
        padding: 20px 0px;
        font-size: 3.5vw;
        font-weight: 200; }
      .sweetdeal .sweetdeal__content a p {
        color: #fff;
        padding: 20px 0px;
        font-size: 1.3vw;
        cursor: pointer; }
    @media screen and (max-width: 800px) {
      .sweetdeal .sweetdeal__content img:first-child {
        display: none; }
      .sweetdeal .sweetdeal__content img:nth-child(2) {
        display: block;
        width: 100%; }
      .sweetdeal .sweetdeal__content a h2 {
        font-size: 5vw; }
      .sweetdeal .sweetdeal__content a p {
        font-size: 2vw;
        cursor: pointer; } }

.customize {
  display: block; }
  .customize .customize__content {
    position: relative; }
    .customize .customize__content img {
      width: 100%;
      z-index: 3; }
    .customize .customize__content a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
      .customize .customize__content a h2 {
        color: #fff;
        padding: 20px 0px;
        font-size: 50px;
        font-weight: 200; }

.brand-gallery {
  width: 100%; }
  .brand-gallery .brand-gallery__content {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 1fr; }
    @media screen and (max-width: 768px) {
      .brand-gallery .brand-gallery__content {
        display: block; }
        .brand-gallery .brand-gallery__content .item-1 {
          padding: 30px 0; }
          .brand-gallery .brand-gallery__content .item-1 p {
            display: none; } }
    .brand-gallery .brand-gallery__content .brand-gallery__item {
      position: relative;
      width: 100%;
      overflow: hidden; }
      .brand-gallery .brand-gallery__content .brand-gallery__item img {
        width: 100%;
        transition: all 0.3s; }
      .brand-gallery .brand-gallery__content .brand-gallery__item:hover img {
        transform: scale(1.1); }
      .brand-gallery .brand-gallery__content .brand-gallery__item .brand-gallery__words {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        background-color: rgba(6, 120, 188, 0.5);
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .brand-gallery .brand-gallery__content .brand-gallery__item .brand-gallery__words span {
          padding-left: 20px;
          color: white;
          font-size: 15px;
          width: 80%; }
          @media screen and (max-width: 768px) {
            .brand-gallery .brand-gallery__content .brand-gallery__item .brand-gallery__words span {
              font-size: 25px;
              font-weight: 200; } }
        .brand-gallery .brand-gallery__content .brand-gallery__item .brand-gallery__words .brand-gallery__icon {
          width: 20%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center; }
          @media screen and (max-width: 768px) {
            .brand-gallery .brand-gallery__content .brand-gallery__item .brand-gallery__words .brand-gallery__icon {
              width: 10%;
              height: 100%; } }
          .brand-gallery .brand-gallery__content .brand-gallery__item .brand-gallery__words .brand-gallery__icon:hover .svg-1 {
            display: none; }
          .brand-gallery .brand-gallery__content .brand-gallery__item .brand-gallery__words .brand-gallery__icon:hover .svg-2 {
            display: inline; }
          .brand-gallery .brand-gallery__content .brand-gallery__item .brand-gallery__words .brand-gallery__icon .svg-1 {
            display: inline;
            width: 45%;
            height: 45%; }
            .brand-gallery .brand-gallery__content .brand-gallery__item .brand-gallery__words .brand-gallery__icon .svg-1 .cls-1 {
              stroke: white;
              fill: none; }
          .brand-gallery .brand-gallery__content .brand-gallery__item .brand-gallery__words .brand-gallery__icon .svg-2 {
            display: none;
            width: 45%;
            height: 45%; }
            .brand-gallery .brand-gallery__content .brand-gallery__item .brand-gallery__words .brand-gallery__icon .svg-2 .cls-1 {
              stroke: white;
              fill: white; }
    .brand-gallery .brand-gallery__content .brand-gallery__item.item-1 {
      grid-column: 1 / span 3;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; }
    .brand-gallery .brand-gallery__content .brand-gallery__item.item-2 {
      grid-column: 4 / span 1; }
    .brand-gallery .brand-gallery__content .brand-gallery__item.item-3 {
      grid-column: 1 / span 2;
      grid-row: 2 / span 2; }
      .brand-gallery .brand-gallery__content .brand-gallery__item.item-3 span {
        font-size: 25px;
        font-weight: 200; }
    .brand-gallery .brand-gallery__content .brand-gallery__item.item-4 {
      grid-column: 3 / span 1; }
    .brand-gallery .brand-gallery__content .brand-gallery__item.item-5 {
      grid-column: 4 / span 1; }
      @media screen and (max-width: 768px) {
        .brand-gallery .brand-gallery__content .brand-gallery__item.item-5 {
          display: none; } }
    .brand-gallery .brand-gallery__content .brand-gallery__item.item-6 {
      grid-column: 3 / span 1; }
      @media screen and (max-width: 768px) {
        .brand-gallery .brand-gallery__content .brand-gallery__item.item-6 {
          display: none; } }
    .brand-gallery .brand-gallery__content .brand-gallery__item.item-7 {
      grid-column: 4 / span 1; }
      @media screen and (max-width: 768px) {
        .brand-gallery .brand-gallery__content .brand-gallery__item.item-7 {
          display: none; } }
    .brand-gallery .brand-gallery__content .see__more {
      display: none;
      text-align: center;
      padding: 18px 0;
      background: #0276b3; }
      .brand-gallery .brand-gallery__content .see__more p {
        cursor: pointer;
        font-size: 25px;
        color: white; }
      @media screen and (max-width: 768px) {
        .brand-gallery .brand-gallery__content .see__more {
          display: block; } }
    .brand-gallery .brand-gallery__content .see__less {
      display: none;
      text-align: center;
      padding: 18px 0;
      background: #0276b3; }
      .brand-gallery .brand-gallery__content .see__less p {
        cursor: pointer;
        font-size: 25px;
        color: white; }

.recall .recall__content {
  padding: 0px 0;
  text-align: center;
  background-color: #dee2e6; }
  .recall .recall__content h2 {
    padding: 30px 0;
    color: #d92e14;
    font-size: 55px;
    font-weight: 300; }
  .recall .recall__content button {
    margin-bottom: 30px; }

.disclosure .disclosure__content {
  text-decoration: none;
  padding: 30px 0;
  justify-content: center; }
  .disclosure .disclosure__content button {
    padding: 10px 0;
    width: 100%;
    background-color: white;
    border: none;
    color: #0276b3;
    text-align: center; }
.disclosure .disclosure__regulation {
  background-color: #dee2e6;
  overflow-y: auto;
  height: 0vh;
  transition: all 0.5s; }
  .disclosure .disclosure__regulation p {
    padding: 10px 20px; }

.search {
  background-color: #333; }
  .search .search__content {
    padding: 40px 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .search .search__content .search__area {
      width: 30%;
      display: flex; }
      @media screen and (max-width: 768px) {
        .search .search__content .search__area {
          display: none; } }
      .search .search__content .search__area .input-group-prepend .input-group-text {
        font-size: 30px;
        color: #fff;
        background-color: #333;
        border: none;
        border-radius: 0; }
        .search .search__content .search__area .input-group-prepend .input-group-text:focus {
          border: 1px solid #0276b3;
          border-right: none; }
      .search .search__content .search__area .form-control {
        color: #fff;
        font-size: 30px;
        background-color: #333;
        border: none;
        border-radius: 0; }
        .search .search__content .search__area .form-control:focus {
          outline: none;
          box-shadow: none;
          border: 1px solid #0276b3; }
          .search .search__content .search__area .form-control:focus + .input-group-prepend .input-group-text {
            font-size: 30px;
            color: #fff;
            background-color: #333;
            border: 1px solid #0276b3;
            border-right: none;
            border-radius: 0; }
          .search .search__content .search__area .form-control:focus:hover {
            border: none; }
            .search .search__content .search__area .form-control:focus:hover + .input-group-prepend .input-group-text {
              border: none; }
    .search .search__content .search__link {
      text-align: center; }
      .search .search__content .search__link a {
        color: #a7a7a7;
        margin: 0 10px;
        text-decoration: none; }
      .search .search__content .search__link a:first-child {
        color: #fff; }
      .search .search__content .search__link a:hover {
        color: #fff; }

.library {
  background-color: #242424;
  font-weight: 100; }
  .library .library__content {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .library .library__content {
        display: block; } }
    .library .library__content .library__column {
      display: flex;
      justify-content: space-between; }
      .library .library__content .library__column .library__item {
        padding-left: 30px;
        list-style-type: none;
        width: 50%;
        display: inline-block; }
        .library .library__content .library__column .library__item .list__heading {
          padding: 30px 0;
          box-sizing: border-box; }
          .library .library__content .library__column .library__item .list__heading span {
            color: #fff; }
            .library .library__content .library__column .library__item .list__heading span i {
              display: none; }
        .library .library__content .library__column .library__item .list__content {
          list-style-type: none;
          color: #a7a7a7; }
          .library .library__content .library__column .library__item .list__content li {
            cursor: pointer;
            font-size: 15px; }
            .library .library__content .library__column .library__item .list__content li:hover {
              color: #fff; }
    .library .library__content .library__2 {
      width: 40%; }
      @media screen and (max-width: 768px) {
        .library .library__content .library__2 {
          width: 100%;
          display: block;
          margin: 0 auto; }
          .library .library__content .library__2 .library__item {
            width: 100%;
            display: block;
            margin: 0 auto; }
            .library .library__content .library__2 .library__item .list__heading {
              position: relative; }
              .library .library__content .library__2 .library__item .list__heading::before {
                position: absolute;
                content: "";
                width: 115%;
                height: 1px;
                background: #a7a7a7;
                bottom: 0;
                left: -15%; }
              .library .library__content .library__2 .library__item .list__heading span {
                display: inline-block;
                width: 47%; }
                .library .library__content .library__2 .library__item .list__heading span i {
                  display: inline-block;
                  width: 100%;
                  text-align: right;
                  padding-right: 20%; }
            .library .library__content .library__2 .library__item .list__content {
              padding: 20px 0;
              position: relative;
              display: none; }
              .library .library__content .library__2 .library__item .list__content::before {
                position: absolute;
                content: "";
                width: 115%;
                height: 1px;
                background: #a7a7a7;
                bottom: 0;
                left: -15%; } }
    .library .library__content .library__3 {
      width: 60%; }
      @media screen and (max-width: 992px) {
        .library .library__content .library__3 {
          display: block;
          margin: 0 auto; }
          .library .library__content .library__3 .library__item {
            display: block;
            margin: 0 auto; }
            .library .library__content .library__3 .library__item .list__heading {
              position: relative; }
              .library .library__content .library__3 .library__item .list__heading::before {
                position: absolute;
                content: "";
                width: 115%;
                height: 1px;
                background: #a7a7a7;
                bottom: 0;
                left: -15%; }
              .library .library__content .library__3 .library__item .list__heading span {
                display: inline-block;
                width: 47%; }
                .library .library__content .library__3 .library__item .list__heading span i {
                  display: inline-block;
                  width: 100%;
                  text-align: right;
                  padding-right: 20%; }
            .library .library__content .library__3 .library__item .list__content {
              padding: 20px 0;
              position: relative;
              display: none; }
              .library .library__content .library__3 .library__item .list__content::before {
                position: absolute;
                content: "";
                width: 115%;
                height: 1px;
                background: #a7a7a7;
                bottom: 0;
                left: -15%; } }
      @media screen and (max-width: 768px) {
        .library .library__content .library__3 {
          width: 100%; }
          .library .library__content .library__3 .library__item {
            width: 100%; } }

.footer .footer__socialize {
  padding: 30px 0;
  background-color: #0F2B4E;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .footer .footer__socialize {
      display: block; } }
  .footer .footer__socialize .footer__feedback {
    width: 60%;
    margin: 0; }
    @media screen and (max-width: 992px) {
      .footer .footer__socialize .footer__feedback {
        padding-top: 20px; }
        .footer .footer__socialize .footer__feedback .footer__feedback2 {
          display: none; } }
    @media screen and (max-width: 768px) {
      .footer .footer__socialize .footer__feedback {
        padding: 0;
        padding-bottom: 20px;
        width: 100%;
        display: block;
        position: relative; }
        .footer .footer__socialize .footer__feedback::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: #616161; } }
    .footer .footer__socialize .footer__feedback li {
      display: inline-block;
      margin-left: 30px; }
      .footer .footer__socialize .footer__feedback li a {
        text-decoration: none;
        padding: 10px 0; }
        .footer .footer__socialize .footer__feedback li a .footer__icon {
          display: inline-block;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: #37a9e8;
          text-align: center; }
          .footer .footer__socialize .footer__feedback li a .footer__icon i {
            color: white;
            text-align: center;
            line-height: 40px;
            font-size: 20px; }
        .footer .footer__socialize .footer__feedback li a span {
          font-size: 20px;
          color: #37a9e8; }
  .footer .footer__socialize .footer__social--link {
    width: 40%;
    margin-left: 0 auto; }
    .footer .footer__socialize .footer__social--link .footer__social--link__content {
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      @media screen and (max-width: 992px) {
        .footer .footer__socialize .footer__social--link .footer__social--link__content {
          display: block; } }
      .footer .footer__socialize .footer__social--link .footer__social--link__content span {
        color: #fff;
        font-size: 13px;
        margin: 0 20px; }
        @media screen and (max-width: 992px) {
          .footer .footer__socialize .footer__social--link .footer__social--link__content span {
            display: block;
            margin: 0;
            padding-bottom: 15px; } }
      @media screen and (max-width: 768px) {
        .footer .footer__socialize .footer__social--link .footer__social--link__content {
          padding-left: 25px;
          white-space: nowrap; } }
.footer .footer__contact {
  padding: 20px 20px; }
  .footer .footer__contact .footer__wrap {
    display: flex;
    justify-content: space-between; }
    .footer .footer__contact .footer__wrap .language__setting {
      display: inline-block; }
      .footer .footer__contact .footer__wrap .language__setting i {
        color: #0276b3;
        font-size: 20px;
        cursor: pointer; }
      .footer .footer__contact .footer__wrap .language__setting span {
        color: #0276b3;
        cursor: pointer; }
    .footer .footer__contact .footer__wrap .brand-logo {
      display: inline-block;
      background-image: url(../img/bsr-sprite2x.png);
      background-repeat: no-repeat;
      background-position: -150px 0;
      width: 73px;
      height: 26px;
      background-size: 300px 150px;
      padding: 0;
      margin: 0; }
      @media screen and (max-width: 768px) {
        .footer .footer__contact .footer__wrap .brand-logo {
          display: none; } }
  .footer .footer__contact .footer__content li {
    display: inline-block;
    list-style-type: none;
    margin: 20px 10px; }
    @media screen and (max-width: 768px) {
      .footer .footer__contact .footer__content li {
        display: block; } }
    .footer .footer__contact .footer__content li a {
      text-decoration: none;
      color: #333; }
      .footer .footer__contact .footer__content li a:hover {
        color: #242424; }
  .footer .footer__contact .footer__logo {
    display: none; }
    .footer .footer__contact .footer__logo .brand-logo {
      display: inline-block;
      background-image: url(../img/bsr-sprite2x.png);
      background-repeat: no-repeat;
      background-position: -150px 0;
      width: 73px;
      height: 26px;
      background-size: 300px 150px;
      padding: 0;
      margin: 0; }
    @media screen and (max-width: 768px) {
      .footer .footer__contact .footer__logo {
        display: inline-block; } }

.btn--circle-arrow {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden; }
  .btn--circle-arrow:hover {
    color: rgba(0, 0, 0, 0);
    background-color: #fff;
    border: 1px solid #fff; }
.btn--white {
  color: #fff;
  background-color: #0276b3;
  border: 1px solid #fff;
  text-align: center;
  width: 270px;
  min-height: 50px;
  font-size: 16px;
  padding: 15px 20px; }
  .btn--white:hover {
    color: #0276b3;
    background-color: #fff;
    border: 1px solid #102b4e; }
.btn--orange {
  color: #fff;
  background-color: #d92e14;
  border: 1px solid #d92e14;
  text-align: center;
  width: 270px;
  min-height: 50px;
  font-size: 16px;
  padding: 15px 20px; }
  .btn--orange:hover {
    color: #d92e14;
    background-color: #fff;
    border: 1px solid #d92e14; }
.btn--eng {
  color: #fff;
  background-color: #102b4e;
  border: 1px solid #102b4e;
  text-align: center;
  width: 90%;
  min-height: 30px;
  font-size: 16px;
  padding: 5px 20px;
  margin: 5px auto; }
  .btn--eng:hover {
    color: #fff;
    background-color: #102b4e;
    border: 1px solid #102b4e; }
.btn--spa {
  color: #102b4e;
  background-color: #fff;
  border: 1px solid #102b4e;
  text-align: center;
  width: 90%;
  min-height: 30px;
  font-size: 16px;
  padding: 5px 20px;
  margin: 5px auto; }
  .btn--spa:hover {
    color: #102b4e;
    background-color: #fff;
    border: 1px solid #102b4e; }

.logo--facebook {
  background: transparent;
  background-image: url(../img/bsr-sprite2x.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 40px;
  height: 40px;
  background-size: 400px 200px;
  display: inline-block;
  margin-left: 10px; }
.logo--twitter {
  background: transparent;
  background-image: url(../img/bsr-sprite2x.png);
  background-repeat: no-repeat;
  background-position: -40px 0;
  width: 40px;
  height: 40px;
  background-size: 400px 200px;
  display: inline-block;
  margin-left: 10px; }
.logo--youtube {
  background: transparent;
  background-image: url(../img/bsr-sprite2x.png);
  background-repeat: no-repeat;
  background-position: -80px 0;
  width: 40px;
  height: 40px;
  background-size: 400px 200px;
  display: inline-block;
  margin-left: 10px; }
.logo--instagram {
  background: transparent;
  background-image: url(../img/bsr-sprite2x.png);
  background-repeat: no-repeat;
  background-position: -120px 0;
  width: 40px;
  height: 40px;
  background-size: 400px 200px;
  display: inline-block;
  margin-left: 10px; }
.logo--FS {
  background: transparent;
  background-image: url(../img/bsr-sprite2x.png);
  background-repeat: no-repeat;
  background-position: -160px 0;
  width: 40px;
  height: 40px;
  background-size: 400px 200px;
  display: inline-block;
  margin-left: 10px; }

/*# sourceMappingURL=main.css.map */
