.customize{
    display:block;
    .customize__content{
        position: relative;
        img{
            width:100%;
            z-index:3;
        }
        a{
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            
            
            h2{
                color: $color-white-0;
                padding: 20px 0px;
                font-size: 50px;
                font-weight: 200;
    
            }
            // p{
            //     color: $color-white-0;
            //     padding: 20px 0px;
            //     font-size: 15px;
            // }
        }
    }
}