.logo{
    &--facebook{
        background:transparent;
        background-image: url(../img/bsr-sprite2x.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        width: 40px;
        height: 40px;
        background-size: 400px 200px;
        display:inline-block;
        margin-left:10px;

    }
    &--twitter{
        background:transparent;
        background-image: url(../img/bsr-sprite2x.png);
        background-repeat: no-repeat;
        background-position: -40px 0;
        width: 40px;
        height: 40px;
        background-size: 400px 200px;
        display:inline-block;
        margin-left:10px;
    }
    &--youtube{
        background:transparent;
        background-image: url(../img/bsr-sprite2x.png);
        background-repeat: no-repeat;
        background-position: -80px 0;
        width: 40px;
        height: 40px;
        background-size: 400px 200px;
        display:inline-block;
        margin-left:10px;
    }
    &--instagram{
        background:transparent;
        background-image: url(../img/bsr-sprite2x.png);
        background-repeat: no-repeat;
        background-position: -120px 0;
        width: 40px;
        height: 40px;
        background-size: 400px 200px;
        display:inline-block;
        margin-left:10px;
    }
    &--FS{
        background:transparent;
        background-image: url(../img/bsr-sprite2x.png);
        background-repeat: no-repeat;
        background-position: -160px 0;
        width: 40px;
        height: 40px;
        background-size: 400px 200px;
        display:inline-block;
        margin-left:10px;
    }
}