//color

$color-blue-logo:#425968;
$color-blue-1: #0276b3;
$color-blue-2: #102b4e; 
$color-blue-3: #0F2B4E;
$color-blue-4: #37a9e8;
$color-grey-0: #dee2e6;
$color-grey-1: #FAFAFA;
$color-grey-2: #333;
$color-grey-3: rgb(97,97,97);
$color-grey-4: #a7a7a7;
$color-grey-5: #242424;
$color-grey-6:#555;
$color-white-0:#fff;
$color-orange-0: rgb(217,46,20);



//font-size
$fs-1: 15px;
